services:
  - name: llm-analysis-quiz-fastapi
    type: web
    env: docker
    plan: starter
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    envVars:
      - key: SECRET
        value: PolireddyPalem
